:css
  input.login_text {
  	font-size:18px;
  	width:300px;
  }
  
  
  input[type=submit] {
  	width:305px;
  	padding-top:6px;
  	padding-bottom:8px;
  	margin-top:4px;
  }
.center_form_box
  %div{:style => "margin-left:95px"}
    %h4 Login to our Secure Server
    - if flash[:error]
      .error
        Sorry, but your email or password is incorrect.
    = form_tag "/secure_login/#{@tour.id}" do
      = text_field_tag 'email', '', :class => 'login_text', :style => 'margin-bottom:4px;', :placeholder => 'email'
      %br/
      = password_field_tag 'password', '', :class => 'login_text', :placeholder => 'password'
      %br/
      = submit_tag 'Login to Secure Server', :class => 'gray_button submit'
:javascript
  $('#email').focus();
