<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address_1 %><br />
    <%= f.text_area :address_1 %>
  </div>
  <div class="field">
    <%= f.label :address_2 %><br />
    <%= f.text_area :address_2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_area :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_area :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :heading %><br />
    <%= f.text_area :heading %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :subdomain %><br />
    <%= f.text_field :subdomain %>
  </div>
  <div class="field">
    <%= f.label :custom_domain %><br />
    <%= f.text_area :custom_domain %>
  </div>
  <div class="field">
    <%= f.label :is_paid %><br />
    <%= f.check_box :is_paid %>
  </div>
  <div class="field">
    <%= f.label :show_map %><br />
    <%= f.check_box :show_map %>
  </div>
  <div class="field">
    <%= f.label :show_schools %><br />
    <%= f.check_box :show_schools %>
  </div>
  <div class="field">
    <%= f.label :show_flyer %><br />
    <%= f.check_box :show_flyer %>
  </div>
  <div class="field">
    <%= f.label :show_realtor_info %><br />
    <%= f.check_box :show_realtor_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
