<h4><%= House.all.count %> Tours</h4>

<table>
  <tr>
    <th>Address </th>
    <th>City</th>
    <th>State</th>
    <th>User</th>
    <th>Subdomain</th>
    <th>Custom domain</th>
    <th>Paid?</th>
   
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @houses.each do |house| %>
  <tr>
    <td><%= house.address_1 %></td>
    <td><%= house.city %></td>
    <td><%= house.state %></td>
    <td><%= house.user.email %></td>
    <td><%= house.subdomain %></td>
    <td><%= house.custom_domain %></td>
    <td><%= house.is_paid %></td>
 
    <td><%= link_to 'Show', house %></td>
    <td><%= link_to 'Edit', edit_house_path(house) %></td>
    <td><%= link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New House', new_house_path %>
