:css
  #secure_images img {
    float:left;
    margin-right:25px;
    vertical-align:middle;

  }

  #secure_image {
    height:150px;
    vertical-align:middle;
  }

  label {
    width:140px;
    margin-right:0px;
  }

  .error {
    display:block;
  }
%script{:src => "https://js.stripe.com/v1/", :type => "text/javascript"}
:javascript
  // this identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_live_Ot7UeaOOfRB19sTHI77MPQAA');

        function stripeResponseHandler(status, response) {
            if (response.error) {
                // re-enable the submit button
                $('.submit-button').removeAttr("disabled");
                // show the errors on the form
          $('#error').show();
                $(".payment-errors").html(response.error.message);

            } else {
                var form$ = $("#payment-form");
                // token contains id, last4, and card type
                var token = response['id'];
                // insert the token into the form so it gets submitted to the server
                form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
                // and submit
                form$.get(0).submit();
            }
        }


        $(document).ready(function() {

            $("#payment-form").submit(function(event) {
                $('.submit-button').attr("disabled", "disabled");

                Stripe.createToken({
              number: $('.card-number').val(),
              cvc: $('.card-cvc').val(),
              exp_month: $('.card-expiry-month').val(),
              exp_year: $('.card-expiry-year').val()
            }, stripeResponseHandler);


                return false; // submit from callback
            });
        });


      // add custom rules for credit card validating
        jQuery.validator.addMethod("cardNumber", Stripe.validateCardNumber, "Please enter a valid card number");
        jQuery.validator.addMethod("cardCVC", Stripe.validateCVC, "Please enter a valid security code");
        jQuery.validator.addMethod("cardExpiry", function() {
            return Stripe.validateExpiry($(".card-expiry-month").val(),
                                         $(".card-expiry-year").val())
        }, "Please enter a valid expiration");

        // We use the jQuery validate plugin to validate required params on submit

        $("#payment-form").validate({
            //submitHandler: $("#payment-form").submit()
            rules: {
                "card-cvc" : {
                    cardCVC: true,
                    required: true
                },
                "card-number" : {
                    cardNumber: true,
                    required: true
                },
                "card-expiry-year" : "cardExpiry" // we don't validate month separately
            }
        });
%h4 Publish Tour
%div{:style => "float:left;min-width:365px;width:auto;"}
  Please pay the $10 fee to post your tour to the web.
  %p
    %span{:style => "font-weight:bold;font-size:18px;"} 1 TourVibes Tour ($10)
  %p
    %strong Satisfaction Guaranteed: 30-day Full Refund Policy
  %p
    * Add unlimited photos
    %br/
    * Tour never expires
    %br/
    * Custom subdomain
    %br/
    * Customized design
    %br/
    %br/
%div{:style => "float:left;margin-left:35px;border: 2px solid #ccc;\tborder-radius:8px;padding:20px 30px 20px 15px;width:auto;"}
  = form_tag "/payments/charge", :method => "post", :id => 'payment-form' do
    = hidden_field_tag 'house_id', @tour.id
    #error.error{:style => "display:none;margin-bottom:12px;"}
      %span.payment-errors
    %label Card Number:
    = text_field_tag 'card-number', '', :class => 'card-number login_text', :style => 'width:230px;'
    %br/
    %label Name on Card:
    = text_field_tag 'card-name', '', :class => 'card-name login_text', :style => 'width:230px;'
    %br/
    %label Card Code (CVC):
    = text_field_tag 'card-cvc', '', :class => 'card-cvc login_text', :style => 'width:50px;'
    %br/
    %label Expiration:
    = text_field_tag 'card-expiry-month', '', :class => 'card-expiry-month login_text', :style => 'width:30px;', :placeholder => 'MM'
    \/
    \#{text_field_tag 'card-expiry-year', '', :class => 'card-expiry-year login_text', :style => 'width:50px;', :placeholder => 'YYYY'}
    %br/
    = submit_tag 'Purchase Tour', :class => 'gray_button blue_button small_button move submit-button', :style => 'width:auto;margin-left:155px;'
    %input{:name => "email", :type => "hidden", :value => ""}/
    %input{:name => "cust_id", :type => "hidden", :value => ""}/
    %input{:name => "amount_due", :type => "hidden", :value => ""}/
%div{:style => "clear:both;"} &nbsp;
#secure_images
  = image_tag 'secure/seal.gif', :style => 'margin-top:-20px;'
  = image_tag 'secure/ssl_secure.png', :style => 'margin-top:7px;'
  = image_tag 'secure/comodo.png'
