.center_form_box
  %h4{:style => "margin-left:0px;"} Account Info
  %div{:style => "height:10px;"} &nbsp;
  - if flash[:update] == 'yes'
    .update
      Your changes have been saved
  = form_tag '/account', :multipart => true do
    %label Name:
    = text_field_tag 'name', @user.name, :class => 'login_text'
    %br/
    %label Email:
    = text_field_tag 'email', @user.email, :class => 'login_text'
    %br/
    %label Phone:
    = text_field_tag 'cell', @user.cell, :class => 'login_text'
    %br/
    %label Firm Name:
    = text_field_tag 'firm_name', @user.firm_name, :class => 'login_text'
    %br/
    %label Photo of You:
    = file_field_tag 'photo', :class => 'login_text'
    %br/
    - if @user.headshot
      %label &nbsp;
      = image_tag @user.headshot.upload.url(:thumb), :style => 'border-radius:5px;margin-top:5px;'
      %br/
    %label Firm's Logo:
    = file_field_tag 'logo', :class => 'login_text'
    %br/
    - if @user.logo
      %label &nbsp;
      = image_tag @user.logo.upload.url(:thumb), :style => 'border-radius:5px;margin-top:5px;'
      %br/
    = submit_tag 'Save Changes', :class => 'gray_button submit', :style => 'margin-left:167px;'
