<h4>
	My Tours
	<a href="/tour/new" class="gray_button small_button" style="margin-left:15px;">New Tour</a>
</h4>

<% if @tours.size > 0 %>
<table cellspacing=0 cellpadding=12 style="width:100%;margin-top:-6px;margin-left:-8px;">
	<tr style="font-size:17px;">
		<th>Address</td>
		<th>Status</td>
		<th>Actions</td>
	</tr>


<% i = 1 %>
<% for @tour in @tours %>
	<!-- lighter gray is #f9f9f9 -->
	<tr style="<% if i % 2 == 0 %>background:#DCE7EE;<% end %>height:40px;">
		<td><a href="<%= @tour.edit_path %>"><%= @tour.address_1 %></a></td>
		<td>
			<% if @tour.is_live %>
				<span style="color:#009900;">
					Live
				</span>
			<% else %>
				<span style="color:#990000;">
					Not Live
				</span>
			<% end %>
		</td>
		<td>
			<a href="<%= @tour.edit_path %>">Edit</a> 
			<span style="color:#999">
		&nbsp;	&nbsp;|&nbsp;
			</span>
		
			<span style="width:60px;display:inline-block;text-align:center;">
			<% if @tour.is_live %>
				<a href="<%= @tour.live_path %>">View</a>
			<% else %>
				<a href="<%= @tour.preview_path %>">View</a>
			<% end %>
			</span>			
			<span style="color:#999">
			&nbsp;|&nbsp;&nbsp;
			</span>
			<% if @tour.is_live %>
				<a href="<%= @tour.takedown_path %>">Take down</a>
			<% else %>
				<a href="<%= @tour.publish_path %>">Publish</a>
			<% end %>
		</td>
	</tr>
	
	<% i +=1 %>
<% end %>



</table>

<% end %>