%p#notice= notice
%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password
%p
  %b Salt:
  = @user.salt
%p
  %b Stripe:
  = @user.stripe_id
%p
  %b Cell:
  = @user.cell
%p
  %b Firm name:
  = @user.firm_name
= link_to 'Edit', edit_user_path(@user)
|
\#{link_to 'Back', users_path}
