= form_for tour, url: tour_settings_path(tour) do |f|
  %h6 Basic Settings
  %label Subdomain:
  = f.text_field 'subdomain', :class => 'login_text'
  \&nbsp; &nbsp;(e.g. 1600Penn.tourvibes.com)
  %br/
  %label Custom Domain:
  = f.text_field 'custom_domain', :class => 'login_text'
  \&nbsp; &nbsp;(e.g. 1600Pen.com,
  = succeed ")" do
    %a{:href => "/custom_domains"} setup info here
  %br/
  %label Schools URL:
  = f.text_field 'schools_url', :class => 'login_text'
  %br/
  %label Ken Burns Effect:
  = f.select 'ken_burns', on_off_options, :class => 'login_text select_tag'
  %br/
  %label Autoplay:
  = f.select 'autoplay', on_off_options, :class => 'login_text select_tag'
  %p
  %h6 Color Settings
  %a#default{:href => "#", :style => "font-weight:normal;font-size:15px;"} Change to default (black &amp; grey)
  %p
  %div{:style => "line-height:2.2"}
    %label Background:
    = f.text_field 'bg_color', :id => 'bg_color'
    %br/
    %label Center:
    = f.text_field 'wrapper_color', :id => "wrapper_color"
    %br/
    %label Title:
    = f.text_field 'title_color', :id => "title_color"
    %br/
    %label Text:
    = f.text_field 'text_color', :id => "text_color"
    %br/
    %label Links:
    = f.text_field 'link_color', :id => "link_color"
    %br/
  = submit_tag 'Save Changes', :class => 'gray_button submit small_button', :style => 'margin-left:167px;margin-top:8px;width:auto;'
  - unless tour.live?
    = submit_tag 'Save & Publish »', :class => 'gray_button small_button blue_button', :style => 'width:auto;'

:javascript
  $('#default').click(function() {

    $('#bg_color').spectrum("set","#000");
    $('#wrapper_color').spectrum("set","#242424");
    $('#title_color').spectrum("set","#e8e8e8");
    $('#text_color').spectrum("set","#ccc");
    $('#link_color').spectrum("set","#e8e8e8");

    return false;

  });

  $("#bg_color").spectrum({
    color: "#{tour.bg_color}",
    clickoutFiresChange: true,
    preferredFormat: "hex",
    showInput: true,
  });


  $("#wrapper_color").spectrum({
    color: "#{tour.wrapper_color}",
    clickoutFiresChange: true,
    preferredFormat: "hex",
    showInput: true
  });

  $("#text_color").spectrum({
      color: "#{tour.text_color}",
    clickoutFiresChange: true,
    preferredFormat: "hex",
    showInput: true
  });

  $("#link_color").spectrum({
      color: "#{tour.link_color}",
    clickoutFiresChange: true,
    preferredFormat: "hex",
    showInput: true
  });

  $("#title_color").spectrum({
    color: "#{tour.title_color}",
    clickoutFiresChange: true,
    preferredFormat: "hex",
    showInput: true
  });

  var f2 = new LiveValidation('subdomain');
  f2.add( Validate.Format, { pattern: /^[a-z\d]+(-[a-z\d]+)*$/i, failureMessage: "No spaces, letters & numbers only." });
