- if @tour.is_live
  .update{:style => "float:right;padding-top:3px;padding-bottom:3px;margin-top:35px;"}
    %span{:style => "color:#666;font-size:17px;font-size:15px;"} Live
- else
  .error{:style => "float:right;padding-top:3px;padding-bottom:3px;margin-top:35px;"}
    %span{:style => "color:#666;font-size:17px;font-size:15px;"} Not Live
%div{:style => "font-size:14px;margin-bottom:8px;"}
  %a{:href => "/tours"} &laquo; Back to My Tours
%h4= @tour.name
:css
  .tab_box {
  	border-bottom:1px solid #ccc;
  	box-shadow:0 1px white;
  	margin-top:8px;
  }
  
  .tab_box a {
  	background:#F3F3F3;
  	color:#323232;
  	border:1px solid #ccc;
  	border-radius:6px 6px 0 0;
  	display:inline-block;
  	font-size:17px;
  	padding:3px 25px 3px;
  	text-decoration:none;
  	text-shadow:0 1px 0 white;
  	margin-right:3px;
  	border-bottom:none;
  }
  
  .tab_box a:hover {
  	background:#DCE7EE;
  }
  
  .tab_box a.selected {
  	background:url('/assets/tab_bg.png') repeat-x;
  	color:white;
  	text-shadow:0 1px 0 #333;
  	font-weight:normal;
  	border:none;
  	margin-bottom:0;
  	padding-bottom:4px;
  }
  
  .right_link a:hover {
  	text-decoration:underline;
  }
.tab_box
  .right_link{:style => "float:right;margin-top:3px;color:#ccc;"}
    - if @tour.is_live
      %a{:href => @tour.takedown_path, :style => "border:none;background:none;display:inline;width:auto;padding:0px 0 0;color:#1C5DEB;margin-right:20px;"} Take Down
      |
      %span{:style => "margin-right:15px;"} &nbsp;
    - else
      %a{:href => @tour.publish_path, :style => "border:none;background:none;display:inline;width:auto;padding:0px 0 0;color:#1C5DEB;margin-right:20px;"} Publish
      |
      %span{:style => "margin-right:15px;"} &nbsp;
    %a{:href => @tour.preview_path, :style => "border:none;background:none;display:inline;width:auto;padding:0px 0 0;color:#1C5DEB;"} Preview
  <a href="#{@tour.edit_path}"
  - if @tab == "info"
    class="selected"
  style="margin-left:20px;">Property Info
  <a href="#{@tour.edit_photos_path}"
  - if @tab == "photos"
    class="selected"
  >Photos &amp; Videos
  <a href="#{@tour.edit_music_path}"
  - if @tab == "music"
    class="selected"
  >Music
  <a href="#{@tour.edit_settings_path}"
  - if @tab == "settings"
    class="selected"
  >Tour Settings
- if flash[:update] == 'yes'
  %div{:style => "height:20px;"} &nbsp;
  .update
    Your changes have been saved.
- else
  %div{:style => "height:30px;"} &nbsp;
