.center_form_box
  %h4{ style: "margin-left:0px;"} Create New Tour
  %div{ style: "height:10px;"}

  = form_for tour do |f|
    %label Address Line 1:
    = f.text_field :address_1, class: 'login_text'
    %br
    %label Address Line 2:
    = f.text_field :address_2, class: 'login_text'
    %br
    %label City:
    = f.text_field :city, class: 'login_text'
    %br
    %label State:
    = f.text_field :state, class: 'login_text'
    %br
    %label Zip:
    = f.text_field :zip, class: 'login_text'
    %br
    = f.submit 'Create Tour', class: 'gray_button submit', style: 'margin-left:167px;'

:javascript
  $('#address_1').focus();
