<div class="center_form_box">
	
<h4 style="margin-left:0px;">Create New Tour</h4>

<div style="height:10px;">&nbsp;</div>
<% if flash[:error] %>
<div class="error">
	Sorry, but your email or password is incorrect.
</div>

<% end %>

<%= form_tag '/tour/new' do %>
	<label>Address Line 1:</label><%= text_field_tag 'address_1', '', :class => 'login_text' %><br />
	<label>Address Line 2:</label><%= text_field_tag 'address_2', '', :class => 'login_text' %><br />
	<label>City:</label><%= text_field_tag 'city', '', :class => 'login_text' %><br />
	<label>State:</label><%= text_field_tag 'state', '', :class => 'login_text' %><br />
	<label>Zip:</label><%= text_field_tag 'zip', '', :class => 'login_text' %><br />
	
	
	<%= submit_tag 'Create Tour', :class => 'gray_button submit', :style => 'margin-left:167px;' %>
<% end %>
</div>

<script type="text/javascript">
$('#address_1').focus();
</script>