= form_for Upload.new, :html => { :multipart => true, :id => "fileupload"} do |f|
  = f.hidden_field :tour_id, :value => tour.id
  = f.hidden_field :brand, :value => "photo"
  .row.fileupload-buttonbar{:style => "margin-left:10px;"}
    / The fileinput-button span is used to style the file input field as button
    %span.gray_button.small_button.fileinput-button
      %i.icon-plus
      %span Add Photos
      = f.file_field :upload, :multiple => true, :name => "upload[upload]", :tabindex => 1
    /
      <span class="btn btn-success fileinput-button">
      <i class="icon-plus icon-white"></i>
      <span>Add Photos &amp;amp; Videos</span>
      <haml:loud> f.file_field :upload, :multiple =&amp;gt; true, :name =&amp;gt; &amp;quot;upload[upload]&amp;quot; </haml:loud>
      </span>
    %span.gray_button.small_button.start{:style => "cursor:pointer;"}
      %i.icon-upload
      %span{:tabindex => "2"} Start Upload
    \&nbsp; &nbsp;
    You can also drag and drop files onto this page.
    /
      <button type="submit" class="btn btn-primary start" style="margin-top:0px;">
      <i class="icon-upload icon-white"></i>
      <span style="font-family:Helvetica;font-size:14px;">Start upload</span>
      </button>
  %div{:style => "height:15px;"} &nbsp;
  / The table listing files for upload/download
  %table.table.table-striped{:role => "presentation", :style => "width:80%;margin-left:15px;"}
    %tbody.files{"data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}
  / ends the form
/ The template to display files available for upload
%script#template-upload{:type => "text/x-tmpl"}
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
  <td class="preview"><span class="fade"></span></td>
  <td class="name"><span>{%=file.name%}</span></td>
  <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  {% if (file.error) { %}
  <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
  {% } else if (o.files.valid && !i) { %}
  <td>
  <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="margin-bottom:-5px;"><div class="bar" style="width:0%;"></div></div>


  </td>
  <td>			<span style="font-style:italic;display:none;" class="upload_status">
  Uploading, please wait...
  </span></td>
  <td class="start">{% if (!o.options.autoUpload) { %}

  <button class="btn btn-primary" style="display:none;">
  <i class="icon-upload icon-white"></i>
  <span>Start</span>
  </button>

  {% } %}</td>
  {% } else { %}
  <td colspan="2"></td>
  {% } %}
  <td class="cancel">{% if (!i) { %}
  /
    <button class="btn btn-warning">
    <i class="icon-ban-circle icon-white"></i>
    <span>Cancel</span>
    </button>
  {% } %}</td>
  </tr>
  {% } %}
/ The template to display files available for download
%script#template-download{:type => "text/x-tmpl"}
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-download fade">
  {% if (file.error) { %}
  <td></td>
  <td class="name"><span>{%=file.name%}</span></td>
  <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
  {% } else { %}
  <td class="preview">{% if (file.thumbnail_url) { %}
  <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
  {% } %}</td>
  <td class="name">
  <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
  </td>
  <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  <td colspan="2"><div class="update">Done</div></td>
  {% } %}
  <td class="delete">
  <button class="btn btn-danger" style="display:none;" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
  <i class="icon-trash icon-white"></i>
  <span>Delete</span>
  </button>
  </td>
  </tr>
  {% } %}
:javascript
  $('.start').click( function() {
  	$('.upload_status').show();
  	$('.refresh_button').show();
  });

  $(function () {
      'use strict';

      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload({
          // Uncomment the following to send cross-domain cookies:
          //xhrFields: {withCredentials: true},
          url: '/uploads'
      });

      // Enable iframe cross-domain access via redirect option:
      $('#fileupload').fileupload(
          'option',
          'redirect',
          window.location.href.replace(
              /\/[^\/]*$/,
              '/cors/result.html?%s'
          )
      );

      if (true) {
          $('#fileupload').fileupload('option', {
              url: '/uploads',
              maxFileSize: 5000000,
              acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
              process: [
                  {
                      action: 'load',
                      fileTypes: /^image\/(gif|jpeg|png)$/,
                      maxFileSize: 20000000 // 20MB
                  },
                  {
                      action: 'resize',
                      maxWidth: 1440,
                      maxHeight: 900
                  },
                  {
                      action: 'save'
                  }
              ]
          });
      }

  });
= submit_tag 'Save & Add Titles', :class => 'gray_button blue_button small_button refresh_button', :style => 'width:auto;display:none;', :onclick => 'document.location.reload(true);'
- if tour.photos.size > 0
  = form_tag tour_photos_path(tour) do
    %br/
    .line &nbsp;
    %table{:cellpadding => "5", :style => "width:100%"}
      %tr
        %th{:style => "text-align:center;width:150px;"} Photo
        %th{:style => "width:350px;"} Description &nbsp;
    %th
    %th
      - tab_now = 3
      - for photo in tour.photos
        - tab_now +=1
        %tr
          %td{:style => "text-align:center;"}
            = image_tag photo.upload.url(:thumb)
          %td
            = text_field_tag "title[]", photo.room_name, :class => 'login_text', :style => 'width:350px;font-size:16px;', :tabindex => tab_now
          %td
            \&nbsp; &nbsp; &nbsp; #{link_to 'Remove', photo, :confirm => 'Are you sure?', :method => :delete}
            /
              ajax delete url
              data-url="/uploads/<haml:loud> photo.id </haml:loud>
    %tr
      %td
      %td{:colspan => "2"}
        = submit_tag 'Save Descriptions', :class => 'gray_button small_button submit', :style => 'width:auto;', :tabindex => (tab_now+=1)
        = submit_tag 'Save & Go to Next Step »', :class => 'gray_button blue_button small_button', :style => 'width:auto;'
/ Non JS form, could use this later
/
  <haml:loud> form_for Upload.new, :html =&amp;gt; { :multipart =&amp;gt; true, :id =&amp;gt; &amp;quot;fileupload&amp;quot;  } do |f| </haml:loud><haml:block>
  <haml:loud> f.hidden_field :house_id, :value =&amp;gt; @tour.id </haml:loud>
  <haml:loud> f.file_field :upload, :multiple =&amp;gt; true, :name =&amp;gt; &amp;quot;upload[upload]&amp;quot; </haml:loud>
  <br />
  <haml:loud> f.submit &amp;#39;Submit&amp;#39;, :class =&amp;gt; &amp;#39;gray_button small_button&amp;#39;, :style =&amp;gt; &amp;#39;width:auto;&amp;#39; </haml:loud>
  </haml:block>

:css
  input[type=submit] {
  	font-family:"Corbel",Arial;
  }
- if flash[:message]
  .update
    = flash[:message]
/ Bootstrap CSS fixes for IE6
/[if lt IE 7] <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css">
