= content_for :head do
  / Bootstrap CSS fixes for IE6
  /[if lt IE 7] <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css">
  = javascript_include_tag 'photo_upload'

= form_for Upload.new, :html => { :multipart => true, :id => "fileupload"} do |f|
  = f.hidden_field :tour_id, :value => tour.id
  = f.hidden_field :brand, :value => 'photo'
  .row.fileupload-buttonbar{:style => "margin-left:10px;"}

    %span.gray_button.small_button.fileinput-button
      %i.icon-plus
      %span Add Photos
      = f.file_field :photo, :multiple => true, :name => "upload[photo]"

    %span.gray_button.small_button.start{:style => "cursor:pointer;"}
      %i.icon-upload
      %span{:tabindex => "2"} Start Upload
    &nbsp; &nbsp;

    You can also drag and drop files onto this page.

  %div{:style => "height:15px;"} &nbsp;

  = f.submit 'Save & Add Titles', :class => 'gray_button blue_button small_button refresh_button', :style => 'width:auto;display:none;', :onclick => 'document.location.reload(true);'


  %table.table.table-striped{:role => "presentation", :style => "width:80%;margin-left:15px;"}
    %tbody.files{"data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}

%script#template-upload{:type => "text/x-tmpl"}
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
  <td class="preview"><span class="fade"></span></td>
  <td class="name"><span>{%=file.name%}</span></td>
  <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  {% if (file.error) { %}
  <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
  {% } else if (o.files.valid && !i) { %}
  <td>
  <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="margin-bottom:-5px;"><div class="bar" style="width:0%;"></div></div>
  </td>
  <td> <span style="font-style:italic;display:none;" class="upload_status">
  Uploading, please wait...
  </span></td>
  <td class="start">{% if (!o.options.autoUpload) { %}

  <button class="btn btn-primary" style="display:none;">
  <i class="icon-upload icon-white"></i>
  <span>Start</span>
  </button>

  {% } %}</td>
  {% } else { %}
  <td colspan="2"></td>
  {% } %}
  <td class="cancel">{% if (!i) { %}
  /
    <button class="btn btn-warning">
    <i class="icon-ban-circle icon-white"></i>
    <span>Cancel</span>
    </button>
  {% } %}</td>
  </tr>
  {% } %}

%script#template-download{:type => "text/x-tmpl"}
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-download fade">
  {% if (file.error) { %}
  <td></td>
  <td class="name"><span>{%=file.name%}</span></td>
  <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
  {% } else { %}
  <td class="preview">{% if (file.thumbnail_url) { %}
  <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
  {% } %}</td>
  <td class="name">
  <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
  </td>
  <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  <td colspan="2"><div class="update">Done</div></td>
  {% } %}
  <td class="delete">
  <button class="btn btn-danger" style="display:none;" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
  <i class="icon-trash icon-white"></i>
  <span>Delete</span>
  </button>
  </td>
  </tr>
  {% } %}

- if tour.photos.any?
  = form_for tour, url: tour_photos_path(tour) do |f|
    %br/
    .line &nbsp;
    %table{cellpadding: "5", style: "width:100%"}
      %tr
        %th{style: "text-align:center;width:150px;"} Photo
        %th{style: "width:350px;"} Description &nbsp;
        = f.fields_for :photos do |f|
          %tr
            %td{style: "text-align:center;"}
              = image_tag f.object.photo.url(:thumb)
            %td
              = f.text_field :room_name, class: 'login_text', style: 'width:350px;font-size:16px;'
            %td
              \&nbsp; &nbsp; &nbsp;
              = link_to 'Remove', f.object, confirm: 'Are you sure?', method: :delete

    %tr
      %td
      %td{ colspan: "2" }
        %br
        = submit_tag 'Save Descriptions', class: 'gray_button small_button submit', style: 'width:auto;'
        = submit_tag 'Save & Go to Next Step »', class: 'gray_button blue_button small_button', style: 'width:auto;'

:css
  input[type=submit] {
    font-family:"Corbel",Arial;
  }

- if flash[:message]
  .update
    = flash[:message]
