:css
  #secure_images img {
    float:left;
    margin-right:25px;
    vertical-align:middle;

  }

  #secure_image {
    height:150px;
    vertical-align:middle;
  }

  label {
    width:140px;
    margin-right:0px;
  }

  .block {
    display: block
  }

%script{:src => "https://js.stripe.com/v1/", :type => "text/javascript"}
:javascript
      Stripe.setPublishableKey('#{ENV.fetch('STRIPE_PUBLISHABLE_KEY')}');

        function stripeResponseHandler(status, response) {
            if (response.error) {
                $('.submit-button').removeAttr("disabled");
                $('#error').show();
                $(".payment-errors").html(response.error.message);
            } else {
                var form$ = $("#payment-form");
                var token = response['id'];
                form$.append("<input type='hidden' name='token' value='" + token + "' />");
                form$.get(0).submit();
            }
        }

        $(document).ready(function() {

          $("#payment-form").submit(function(event) {
              $('.submit-button').attr("disabled", "disabled");

              Stripe.createToken({
                number: $('.card-number').val(),
                cvc: $('.card-cvc').val(),
                exp_month: $('.card-expiry-month').val(),
                exp_year: $('.card-expiry-year').val()
              }, stripeResponseHandler);

              return false;
          });
        });

        jQuery.validator.addMethod("cardNumber", Stripe.validateCardNumber, "Please enter a valid card number");
        jQuery.validator.addMethod("cardCVC", Stripe.validateCVC, "Please enter a valid security code");
        jQuery.validator.addMethod("cardExpiry", function() {
          return Stripe.validateExpiry($(".card-expiry-month").val(),
                                      $(".card-expiry-year").val())
        }, "Please enter a valid expiration");


        $("#payment-form").validate({
            rules: {
                "card-cvc" : {
                    cardCVC: true,
                    required: true
                },
                "card-number" : {
                    cardNumber: true,
                    required: true
                },
                "card-expiry-year" : "cardExpiry" // we don't validate month separately
            }
        });

%h4 Publish Tour
%div{:style => "float:left;min-width:365px;width:auto;"}
  Please pay the $10 fee to post your tour to the web.
  %p
    %span{:style => "font-weight:bold;font-size:18px;"} 1 TourVibes Tour ($10)
  %p
    %strong Satisfaction Guaranteed: 30-day Full Refund Policy
  %p
    * Add unlimited photos
    %br/
    * Tour never expires
    %br/
    * Custom subdomain
    %br/
    * Customized design
    %br/
    %br/
%div{:style => "float:left;margin-left:35px;border: 2px solid #ccc;\tborder-radius:8px;padding:20px 30px 20px 15px;width:auto;"}

  = form_tag payments_path, id: 'payment-form' do

    = hidden_field_tag 'tour_id', tour.id
    #error.error.block{:style => "display:none;margin-bottom:12px"}
      %span.payment-errors
    %label Name on Card:
    = text_field_tag 'card-name', '', :class => 'card-name login_text', :style => 'width:230px;'
    %br/
    %label Card Number:
    = text_field_tag 'card-number', '', :class => 'card-number login_text', :style => 'width:230px;'
    %br/
    %label Card Code (CVC):
    = text_field_tag 'card-cvc', '', :class => 'card-cvc login_text', :style => 'width:50px;'
    %br/
    %label Expiration:
    = text_field_tag 'card-expiry-month', '', :class => 'card-expiry-month login_text', :style => 'width:30px;', :placeholder => 'MM'
    \/
    \#{text_field_tag 'card-expiry-year', '', :class => 'card-expiry-year login_text', :style => 'width:50px;', :placeholder => 'YYYY'}
    %br/
    = submit_tag 'Purchase Tour', :class => 'gray_button blue_button small_button move submit-button', :style => 'width:auto;margin-left:155px;'
    %input{:name => "email", :type => "hidden", :value => ""}/
    %input{:name => "cust_id", :type => "hidden", :value => ""}/
    %input{:name => "amount_due", :type => "hidden", :value => ""}/
%div{:style => "clear:both;"} &nbsp;

#secure_images
  -# = image_tag 'secure/seal.gif', :style => 'margin-top:-20px;'
  = image_tag 'secure/ssl_secure.png', :style => 'margin-top:7px;'
  -# = image_tag 'secure/comodo.png'
  = image_tag 'secure/glossy.png', style: 'margin-top: 14px'
