%p
  = form_for tour, url: tour_music_path(tour), multipart: true do |f|
    %label Preloaded Track:
    = f.select :music_file, options_for_select(Tour::SONGS,tour.music_file), class: 'login_text select_tag'
    %a#preview{ href: "#", style: "margin-left:5px;" } Preview Song

    %br/
    %label Autoplay:
    = f.select :autoplay_music, on_off_options, class: 'login_text select_tag'
    %br/
    %label
    = f.submit 'Save Changes', class: 'gray_button small_button', style: 'width:auto;'
    = f.submit 'Save & Go to Next Step »', class: 'gray_button blue_button small_button', style: 'width:auto;'

  %audio#music_player
    %source{ :src => tour.music_src, :type => "audio/mpeg" }
    %embed{ :height => "50", :src => tour.music_src, :width => "100" }

:javascript
  var audio = $('#music_player').get(0);

  $(function() {
    $("#tour_music_file").change(function(e) {
      e.preventDefault();
      if ($('#music_file option:selected').val() != "") {
        $('#preview').show();
        audio.src='http://s3.amazonaws.com/tour_files/tracks/' + $('#tour_music_file option:selected').val() + '.mp3';
        audio.load();
      } else {
        $('#preview').hide();
      }
        });
      });

  $(function() {
    $("#preview").click(function(e) {
      e.preventDefault();
        audio.play();
        });
      });
