!!!
%html
  %head
    %title TourVibes - Virtual Real Estate Tours
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head

  %body
    .container
      .header
        .header_inner.standard_width
          = link_to :root do
            = image_tag 'logo.png', style: 'margin-top:1px;', border: 0
          .top_nav
            - if current_user
              = active_link_to "My Tours", tours_path, exact: true
              = active_link_to "New Tour", new_tour_path
              = active_link_to "Account", account_path
              = active_link_to "Contact", contact_path
              = active_link_to "Logout", logout_path
            - else
              = active_link_to "Home", root_path
              = link_to "How it Works", "#", id: 'how_link'
              = link_to "Features", "#", id: 'feature_link'
              = link_to "Contact", "#"
              = active_link_to "Login", new_session_path

      = yield :below_header
      .content
        .inner_content.standard_width

          - if content_for?(:nested)
            = yield :nested
          - else
            = yield

          %div{:style => "clear:both;height:0;"} &nbsp;

      %div{:style => "clear:both;height:0;"} &nbsp;
      %div{:style => "height:150px;"} &nbsp;

    .footer
      .footer_inner.standard_width
        %div{:style => "float:left;margin-right:50px;"}
          %a{:href => "/"} Home
          - if @page == "home"
            %a#how_link{:href => "#"} How it Works
            %a#feature_link{:href => "#"} Features
          - else
            %a#how_link{:href => "/home#how"} How it Works
            %a#feature_link{:href => "/home#features"} Features
        %div{:style => "float:left;"}
          = link_to "Contact", contact_path
          = link_to "Login", new_session_path
          = link_to "About", about_path
    = render 'includes/olark'
    = javascript_include_tag 'google_analytics'
