<!DOCTYPE html>
<html>
<head>
  <title>TourVibes - Virtual Real Estate Tours</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "icons", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="header_inner standard_width">
				<a href="/"><%= image_tag 'logo.png', :style => 'margin-top:1px;', :border => 0 %></a>
				<div class="top_nav">
					<a href="/" class="selected">Home</a>
					<a href="#">How it Works</a>
					<a href="#">Features</a>
					<a href="#">Pricing</a>
					<a href="/contact">Contact</a>
					<% if @user %>
					<a href="/logout">Logout</a>
					<% else %>
					<a href="/login">Login</a>
					<% end %>
				</div>
			</div>
		</div> <!-- ends header -->
		<% if @page == 'home' %>
		<div class="home_top">
			<div class="home_top_inner standard_width">
				<h1>Create Amazing Virtual Real Estate Tours</h1>
				<h3>Simple, easy to use virtual tour creator for realtors</h3>
				<div style="height:20px;">&nbsp;</div>
				<a href="/start" class="gray_button">Get Started &nbsp;<%= image_tag 'buttons/gray_arrow.png' %></a>
				<a href="/samples" class="blue_button button" style="margin-left:15px;">View Samples</a>
			</div>
		</div>
		<% end %>
		<div class="content">
			<div class="inner_content standard_width">
				<%= yield %>	
				<div style="clear:both;height:0;">&nbsp;</div>
			</div>
		</div>
		<div style="clear:both;height:0;">&nbsp;</div>
				
		<div style="height:150px;">&nbsp;</div>
		
    	
	
	</div> <!-- ends container -->
	
	
	
	<div class="footer">
		<div class="footer_inner standard_width">
			<div style="float:left;margin-right:50px;">
				<a href="/">Home</a>
				<a href="#">How it Works</a>
				<a href="#">Pricing</a>
			</div>
			<div style="float:left;">
				<a href="/contact">Contact</a>
				<a href="/login">Login</a>
				<a href="/about">About</a>
			</div>
		</div>
	</div> <!-- ends footer -->
	
	
	
	



</body>
</html>
