= content_for :nested do

  - if tour.live?
    .update{:style => "float:right;padding-top:3px;padding-bottom:3px;margin-top:35px;"}
      %span{:style => "color:#666;font-size:17px;font-size:15px;"} Live
  - else
    .error{:style => "float:right;padding-top:3px;padding-bottom:3px;margin-top:35px;"}
      %span{:style => "color:#666;font-size:17px;font-size:15px;"} Not Live

  %div{:style => "font-size:14px;margin-bottom:8px;"}
    = link_to "&laquo; Back to My Tours".html_safe, tours_path

  %h4= tour.name

  .tab_box
    .right_link{:style => "float:right;margin-top:3px;color:#ccc;"}
      - if tour.live?
        = link_to "Take Down", tour_takedown_path(tour)
      - else
        = link_to "Publish", tour_publish_path(tour)

      %span{ :style => "margin-right:15px;" } &nbsp;

      - if tour.live?
        = link_to "View Live", tour.live_path
      - else
        = link_to "Preview", tour_preview_path(tour)

    = active_link_to "Property Info", tour_property_info_path(tour)
    = active_link_to "Photos", tour_photos_path(tour)
    = active_link_to "Music", tour_music_path(tour)
    = active_link_to "Tour Settings", tour_settings_path(tour)

  - if flash[:update]
    .update{ style: 'margin-top: 20px' }
      - if flash[:update] == true
        Your changes have been saved.
      - else
        = flash[:update]

  - if flash[:error]
    .error{ style: 'margin-top: 20px' }= flash[:error]

  - if flash[:error].blank? && flash[:update].blank?
    .space30


  = yield

= render template: 'layouts/application'
