!!!
%head
  %title= tour.name

  = javascript_include_tag "jquery", "jquery_ujs"
  = stylesheet_link_tag 'view_tour'
  = render 'previews/styles'
  = render 'previews/geocoder'

%body
  #fullscreen{:style => "height:100%;width:100%;position:fixed;top:0;left:0;display:none;"}
    %div{:align => "center"}
      = image_tag tour.photos[0].photo.url(:large), :style => 'height:100%', :class => 'main_image'
      .room_title{:style => "top:20px;"}
        %span.room_title_bg
          = tour.photos[0].room_name

  .container
    .nav_right
      %a#tour_link{href: "#", style: "margin-left:0;"} Tour
      %a#contact_link{href: "#"} Realtor Info
      - if tour.desc.present?
        %a#about_link{href: "#"} About

      %a#map_link{href: "#"} Map

      - if tour.schools_url.present?
        %a{href: tour.outgoing_schools_url, target: "_blank"} Schools

    .property_title= tour.name
    #wrapper.wrapper
      = yield
  = javascript_include_tag 'google_analytics'
